/* fancy font: */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
h1{
  color:yellow;
}
h2{
    font-size:20px;
    font-weight: bold;
}
h3{
  font-size:24px;    
  font-weight: bold;
}
h4{
  font-size:13px;    
  font-weight: bold;
}
h5{
  font-weight: italic;
}
h6{
    font-size:17px;

}

p{
  font-size:20px;
  font-weight: bold;
}
body {
  font-size:17px;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.landing_page_container {
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.landing_page_header {
    display: flex;
    flex-direction: row-reverse;
    background-color:#fedfa2;
    max-height: 100px;
    padding: 10px;
    border: yellow  2px;
        align-content: center;

}

.landing_page_content {
    margin-top: 5%;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.select_something {
    font-size: 15;
}

.text_content {
    text-align: center;
        padding: 10px;

}

.company_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 25%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: cyan;
    max-height: 100px;
    padding: 40px;
}

.some_text {
    color:yellow;
}

.login {
    background-image: url(bg1.jpg);
     background-size: cover;
    height: 100vh;
    text-align: center;
    display: grid; 
    margin: auto;
    align-items: center;
    padding-left: 420px;
   }
.page_1 {
      background-color: black;

}
.p7 {
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: ridge 2px;
}
.p8 {
  padding-right: 10px;
}
b {
  display: inline;
}
